<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style1.css" />
</head>
<body class = "background">
    <div class = "logo">
        
        <img src="../static/saic_white.png" height="100px" width="120px" >
        <img src="../static/exordiumlogo.png" height="100" >

    </div>
    <div class ="group">
        <br><br>

            <div class="text-wrapper"><h1>Thank You for Registering</h1>
            
            <h4>Stayed Tuned for further Updates</h4>      
    </div> 
    </div>

</body>
</html>